  <div class="results">
    <% if location.strip.empty? %>
    <p class="commentary">I could pretend I know where you are, but that probably won't help you.</p>
    <% elsif gf_places.size == 0 %>
    <p class="commentary">I'm really sorry about this... but, you may starve there.</p> 
    <%else%>
    <p class="commentary">These places may be able to prevent starvation:</p>
    <div class="container restaurants">
      <% gf_places.each do |place| %>
      <div class="place">
        <h4 class="name"><%=place["name"]%></h4>
        <div class="address">
          <% place["location"]["display_address"].each do |line|%>
          <p class="address"><%= line %></p>
          <% end %>
        </div> <!-- end address -->
        <p ><%= place["display_phone"]%></p>
        <p >Yelp rating: <%= place["rating"]%></p>
        <p><a  href=<%= place["url"]%> target="_blank">See reviews.</a></p>
      </div> <!-- end place -->
      <% end %>
    <%end%>
  </div>  <!--end restaurants -->
  </div> <!--end results -->