<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css" />
 <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
 <title>GF Food Finder </title>
</head>
<body>

  <form>
    <input type="text" name="craving" value="WHAT ARE YOU HUNGRY FOR?"/>
    <input class="search-box"type="text" name="location" value="WHERE ARE YOU?"/>
    <input class="button" type="submit" value="GET THE NOMS" />
  </form>

  <div>
    <% unless location.nil? && craving.nil? %>
    <% gf_places.each do |place| %>
    <div class="place">
      <p class="name"><%=place["name"]%></p>
      <div class="address">
        <% place["location"]["display_address"].each do |line|%>
        <p class="address"><%= line %></p>
        <% end %>
      </div>
      <p class="phone"><%= place["display_phone"]%></p>
      <p class="rating">Yelp rating: <%= place["rating"]%></p>
      <p class="reviews"><a  href=<%= place["url"]%> target="_blank">See reviews.</a></p>  
    </div>
    <%end%>
    <%end%>

  </div>
</body>
</html>