<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css" />
 <title>GF Food Finder </title>
</head>
<body>
  <h1>GF Food Finder</h1>
  <p>Are you in a new city and afriad of starving? I can try to help. But I make no promises.</p>
  <form>
    <label for="craving">What are you in the mood for?</label>
    <input type="text", name="craving" />
    <label for="location">Where are you?</label>
    <input type="text", name="location" />
    <input type="submit", value="Find me food!" />
  </form>
  <div>
    <% if @location.nil? && @craving.nil? %>
      <p>You haven't searched for anything yet.</p>
    <% elsif !@location.nil? %> <!--this is to prevent errors due to gf_places not being defined until AFTER a serach occurs -->
    <% gf_places.each do |place|  %>
    <div class="place">
      <p class="name"><%=place["name"]%></p>
      <div class="address">
        <% place["location"]["display_address"].each do |line|%>
        <p class="address"><%= line %></p>
        <% end %>
      </div>
      <p class="phone"><%= place["display_phone"]%></p>
      <p class="rating">Yelp rating: <%= place["rating"]%></p>
      <p class="reviews"><a  href=<%= place["url"]%> target="_blank">See reviews.</a></p>  
    </div>
    <%end%>
    <%end%>

  </div>
</body>
</html>